@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Compuskills Total Timesheet Pro</h1>
    <p class="lead">
        You'll be creating a fictitious timesheet system for employees called "Total Timesheet Pro".  You'll start the project off with a pre-written ERD, a pre-written Domain project, and Balsamiq mockups of all the views you'll need to create.  You also have a starter MVC project with ASP.NET Identity already installed and setup.
    </p>
    
    <p>
        Your project is to implement all the MVC code including models, views, and controllers.  You'll notice purple notes on several of the mockups.  The features on these notes _are not required_ for the project.  They're optional extra features you would expect to find in a production project.  You can implement them in this project for extra practice.
    </p>
</div>